[tool.poetry]
name = "sqloxide"
version = "0.1.0"
repository = "https://github.com/wseaton/sqloxide"
license = "MIT"
description = "Python bindings for sqlparser-rs"
authors = ["Will Eaton <me@wseaton.com>"]
build = "build.py"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Rust",
    "Topic :: Database",
    "License :: OSI Approved :: MIT License"
]


[tool.poetry.dependencies]
python = ">=3.6.0,<4.0"

[tool.poetry.dev-dependencies]
setuptools-rust = "^0.11.5"
pytest = "^6.1.2"
black = "^20.8b1"
isort = "^5.6.4"
ipython = "^7"
graphviz = "^0.15"
sqlparse = "^0.4.1"
pytest-benchmark = {extras = ["histogram"], version = "^3.2.3"}
moz-sql-parser = "^4.5.20343"

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=41.0.0", "wheel", "setuptools_rust>=0.10.2"]
build-backend = "poetry.core.masonry.api"
